@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4" >@localizer["HelloWorld"]</h1>
    <h2>@ViewBag.Test</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>4
</div>
<div class="text-center">
    <h1 class="display-4">MicroSoft Developer Conference</h1>
    <img src="~/images/Image6.jpg"/>
</div>
<div>
    <ul>
        <li>A virtual plateform for you to learn from the experts and connect with the community</li>
        <li>Calling all developers! Get ready ro dev-level-up</li>
        <li>The way we work, and live, has changed. we now live in a world of remote everything</li>
    </ul>
</div>

<a class="btn btn-primary" asp-action="RegisterForm">Register for Microsoft Developer Conference</a>
