
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

   
 @*<hr />
    <div class="row">
        <div class="col-md-4">
            <form   asp-controller="News" asp-action="Index" method="post">
                <input type="text" id="txtSelectedDate" name="SelectedDate" readonly="readonly" />
                <input type="submit" value="Submit" />

                <script type="text/javascript">
                    $(function () {
                        $('#txtSelectedDate').datepicker({
                            changeMonth: true,
                            changeYear: true,
                            format: "dd/mm/yyyy",
                            language: "tr"
                        });
                    });
                </script>
                @if (ViewBag.Message != null)
        {
                <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message");
            });
                </script>
        }
        </div>
       
    </div>*@
